.footer {	
	background-color: #333333;
	height: 2.7em;
	width: 100%;
	text-align: center;	
}

.header {
	width: 100%;
	text-align: center;
	font-family: helvetica;
	font-size: 11;
	font-weight: bold;
}

.content {
	height: 75%;
}

.negrita {
	font-weight: bold;
}

.negritaLeft {
	font-weight: bold;
	text-align: left;
	font-size: 10px;
}

.botonerab {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
}

.botonerabRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	text-decoration: none;
	line-height: normal;
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.floatLeft {
	float: left
}

.azulAjustado {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	/*background-color: #33628C;*/
	background-color: #0B610B;
	text-align: center;
	vertical-align: middle;
	font-style: normal;
	color: white;
}

.azulOpcion {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #33628C;
	text-align: left;
	vertical-align: middle;
	font-style: normal;
	color: white;
	cursor: pointer;
}

.grisSubtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #BDBDBD;
	text-align: left;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.grisSubtituloCenter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #BDBDBD;
	text-align: center;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.grisClaroSubtituloCenter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #DBD7D7;
	text-align: center;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.grisMuyClaroSubtituloCenter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #E9E5E5;
	text-align: center;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.verdeClaroSubtituloCenter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: #BACE8D;
	text-align: center;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.verdeSubtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	background-color: #5FB404;
	text-align: left;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.verdeSeleccionFila {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #5FB404;
	text-align: middle;
	vertical-align: middle;
	font-style: normal;
	color: black;
}

.teal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	background-color: teal;
	text-align: left;
	vertical-align: middle;
	font-style: normal;
	color: white;
}

.cuadrado {
	text-align: center;
	border: 1px #CCCCCC solid;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;	
}

.cuadradoSinBorde {
	text-align: center;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px
}

.cuadradoSinBordeLeft {
	text-align: left;
	border: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px
}

.botoneralNegrita {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration: none;
	line-height: 14px;
	text-align: center;
	vertical-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.botoneralNegritaRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration: none;
	line-height: 14px;
	text-align: right;
	vertical-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.botoneralNegritaLeft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration: none;
	line-height: 14px;
	text-align: left;
	vertical-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.botoneralNegritaLeftGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	line-height: 14px;
	text-align: left;
	vertical-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.botoneralNegritaGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	text-decoration: none;
	line-height: 14px;
	text-align: center;
	vertical-align: center;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 2px;
	padding-left: 2px;
	font-weight: bold;
}

.rojoAdvertenciaChico {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	font-variant: normal;
	text-transform: none;
	border: 0px solid #CCCCCC;
}

.rojoAdvertencia {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	font-variant: normal;
	text-transform: none;
	border: 0px solid #CCCCCC;
}

.rojoAdvertenciaLeft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #FF0000;
	text-align: left;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	font-variant: normal;
	text-transform: none;
	border: 0px solid #CCCCCC;
}

.verdeExito {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #006633;
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	font-variant: normal;
	text-transform: none;
	border: 0px solid #CCCCCC;
}

.verdeExitoLeft {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #006633;
	text-align: left;
	vertical-align: middle;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	font-variant: normal;
	text-transform: none;
	border: 0px solid #CCCCCC;
}

.par {
	background-color: #BDD3E8;
}

.seleccionado {
	background-color: #5FB404;
}

.tachado{text-decoration:line-through;}


/*Multas*/
.tituloOpcion {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #333333; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.lineaColor {
	BORDER-RIGHT: #8ebfdd 0px solid; PADDING-RIGHT: 0px; BORDER-TOP: #8ebfdd 0px solid; PADDING-LEFT: 0px; FONT-WEIGHT: normal; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; BORDER-LEFT: #8ebfdd 0px solid; COLOR: #373737; LINE-HEIGHT: 17px; PADDING-TOP: 2px; BORDER-BOTTOM: #8ebfdd 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.TDtablaBoldRight {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; color: black; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f9fd; text-align: right;
}
.TDtablaNormal {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #535353; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f9fd
}
.TDtabla {
	BORDER-RIGHT: #e1e8fb 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #def1f5 1px solid; PADDING-LEFT: 4px; FONT-WEIGHT: normal; FONT-SIZE: 11px; LIST-STYLE-IMAGE: none; PADDING-BOTTOM: 2px; BORDER-LEFT: 0px solid; COLOR: #535353; LINE-HEIGHT: 17px; PADDING-TOP: 2px; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f4f9fd
}
.tituloTabla {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; BACKGROUND-COLOR: #0080b7
}